.login {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: #fff;

  &__title {
    margin: 5px 0 1.25rem;
  }
}

.auth-container {
  max-width: 400px;
  padding: 24px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-family: sans-serif;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.tabs {
  display: flex;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid #ccc;
}

.tab {
  flex: 1;
  padding: 12px;
  text-align: center;
  cursor: pointer;
  background: none;
  border: none;
  font-weight: bold;
  color: #888;
}

.tab.active {
  border-bottom: 2px solid #007bff;
  color: #FFF;
}

.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 320px;
  padding: 1.25rem;
  background-color: rgba(204, 204, 204, .08);
  border: 1px solid rgba(204, 204, 204, .25);
  border-radius: 10px;

  &__form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 270px;
  }

  &__label {
    align-self: flex-start;
    display: flex;
    justify-content: space-between;
    width: 100%;

    & span {
      color: red;
    }
  }

  &__input {
    width: 100%;
    height: 35px;
    margin: 5px 0 1.25rem;
    padding: 5px;

    background: #0E1223;
    border: 1px solid rgba(204, 204, 204, .25);
    border-radius: 5px;
  }
  
  &__error {
    height: 1.25rem;
    font-size: 0.8rem;
    color: #e74c3c;
    margin-top: -1rem;
  }

  &__btn {
    width: 100%;
    text-align: center;
    background: rgba(32, 130, 50, 1);
    border: 1px solid rgba(204, 204, 204, .25);
    border-radius: 5px;
    margin-bottom: 1.25rem;
    padding: 7px;
  }

  .or {
    position: relative;
    margin-bottom: 1.25rem;

    &::before, &::after {
      content: '';
      position: absolute;
      width: 8.125rem;
      height: 2px;
      background-color: rgba(204, 204, 204, .25);
      top: 50%;
      transform: translateY(-50%);
    }

    &::before {
      right: 25px;
    }

    &::after {
      left: 25px;
    }
  }

  &__account-signin {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;;

    width: 100%;
    background: rgba(204, 204, 204, .08);
    border: 1px solid rgba(204, 204, 204, .25);
    border-radius: 5px;
    padding: 7px;
  }
}