.aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  background-color: $bg-white-color;
  max-width: 100px;
  height: 100%;

  padding: 0 20px;

  grid-area: sidebar;
}

.aside__folders {
  display: flex;
  flex-direction: column;

  margin-top: 50px;

  .aside__folder {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}

.aside__folder {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 110%;
    top: 6px;
    border-radius: 0 5px 5px 0;
    width: 7px;
    height: 40px;
    background: $green;
    transform: scaleY(0);
    transition: transform 0.3s ease-in-out; /* Smoth animation */
  }
  
  &.active::before {
    transform: scaleY(1);
  }
}

.aside__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 70px;

  img {
    margin-bottom: 5px;
  }

  .folder__name {
    max-width: inherit;
    font-size: 12px;
    font-weight: 500;
  }

  .aside__new-folder-name {
    width: 70px;
  }
}