@charset "UTF-8";
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: "K2D";
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  background-color: rgb(14, 18, 35);
}

body.lock {
  overflow: hidden;
}

.page {
  display: grid;
  grid-template-rows: max-content 1fr; /* Перша рядка для хедера, друга для меню і контенту */
  grid-template-columns: max-content 1fr; /* Перша колонка для меню, друга для контенту */
  grid-template-areas: "header header" "sidebar content"; /* Хедер буде зверху на дві колонки */
  height: 100vh; /* Сторінка на всю висоту */
}

.container {
  width: fit-content;
  padding-inline: 15px;
  margin: auto;
}

button, .signup-form__account-signin, .login-form__account-signin {
  cursor: pointer;
  transition: all 0.3s;
}
button:hover, .signup-form__account-signin:hover, .login-form__account-signin:hover {
  opacity: 0.9;
}

.signup, .login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  margin: 0;
}

.signup-head {
  text-align: center;
}
.signup-head .logo {
  margin-bottom: 10px;
}
.signup-head .signup__title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
}

.signup-form {
  background-color: rgba(204, 204, 204, 0.08);
  border-radius: 10px;
  border: 1px solid rgba(204, 204, 204, 0.25);
  max-width: 320px;
  padding: 25px 25px 20px;
}

.signup-form__form > *:not(:last-child), .signup-form > *:not(:last-child) {
  margin-bottom: 20px;
}
.signup-form label {
  font-size: 16px;
  font-weight: 600;
}
.signup-form__input {
  background-color: rgb(14, 18, 35);
  border-radius: 5px;
  border: 1px solid rgba(204, 204, 204, 0.25);
  font-size: 14px;
  font-weight: 300;
  width: 270px;
  height: 35px;
  padding: 10px;
  margin-top: 5px;
}
.signup-form__button, .signup-form .login-form__button {
  background-color: rgb(32, 130, 50);
  border-radius: 5px;
  border: 1px solid rgba(204, 204, 204, 0.25);
  padding-block: 7px;
  width: 100%;
}

.or {
  position: relative;
  text-align: center;
}
.or::before {
  position: absolute;
  content: "";
  background-color: rgba(255, 255, 255, 0.25);
  width: 125px;
  height: 1px;
  top: 60%;
  left: -10px;
}
.or::after {
  position: absolute;
  content: "";
  background-color: rgba(255, 255, 255, 0.25);
  width: 125px;
  height: 1px;
  top: 60%;
  right: -10px;
}

.signup-form__account-signin, .login-form__account-signin {
  background-color: rgba(204, 204, 204, 0.08);
  border-radius: 5px;
  border: 1px solid rgba(204, 204, 204, 0.25);
  padding-block: 7px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(204, 204, 204, 0.08);
  max-width: 100px;
  height: 100%;
  padding: 0 20px;
  grid-area: sidebar;
}

.aside__folders {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.aside__folders .aside-folder:not(:last-child) {
  margin-bottom: 25px;
}

.aside-folder {
  position: relative;
}
.aside-folder::before {
  content: "";
  position: absolute;
  left: -35%;
  top: 6px;
  border-radius: 0 5px 5px 0;
  width: 7px;
  height: 40px;
  background: rgb(32, 130, 50);
  transform: scaleY(0);
  transition: transform 0.3s ease-in-out; /* Smoth animation */
}
.aside-folder.active::before {
  transform: scaleY(1);
}

.aside-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.aside-item img {
  margin-bottom: 5px;
}
.aside-item span {
  white-space: nowrap;
  font-size: 12px;
  font-weight: 500;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgba(204, 204, 204, 0.08);
  width: 100%;
  height: 100px;
  padding-inline: 25px;
  grid-area: header;
}

.logo {
  width: 50px;
  height: 64px;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 25px;
  margin-left: 75px;
}
.nav-item {
  transition: all 0.3s;
}
.nav-item:hover {
  opacity: 0.8;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
}
.user-avatar {
  margin-bottom: 5px;
  width: 40px;
}

.content {
  padding: 50px;
  grid-area: content;
}

.notes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.note {
  width: 300px;
  height: 150px;
  padding: 15px;
  background-color: rgb(29, 37, 67);
  border-radius: 10px;
}
.note-wrap {
  display: flex;
  flex-direction: column;
  text-align: start;
}
.note__data {
  user-select: text;
  margin-top: auto;
}
.note__data-wrap {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 5px;
}

.note__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.note__header-title {
  user-select: text;
  font-weight: 600;
  font-size: 16px;
}
.note__header-tooltip .tooltiptext {
  width: 150px;
  top: 0%;
  right: 150%;
}

.placeholder {
  font-weight: 400;
  font-size: 14px;
}

.user-data {
  font-weight: 300;
  font-size: 12px;
}

.create__new-note {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
}
.create__new-note:hover {
  opacity: 0.9;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease 0s;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}

.popup__body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 30px 10px;
}

.popup__content {
  position: relative;
  width: 400px;
  min-height: 225px;
  border-radius: 10px;
  background-color: rgb(29, 37, 67);
  padding: 15px;
}

.popup__close {
  position: absolute;
  right: 15px;
  top: 15px;
  font-weight: 600;
  font-size: 20px;
}

.popup-card__title {
  font-weight: 600;
  font-size: 20px;
}

.new-note {
  margin-top: 30px;
}
.new-note .data-field {
  display: flex;
  flex-direction: column;
}
.new-note .placeholder {
  font-weight: 500;
  font-size: 18px;
}
.new-note li:not(:last-child) {
  margin-bottom: 12px;
}
.new-note .note__input {
  width: 200px;
  height: 30px;
  border-bottom: 2px solid rgba(204, 204, 204, 0.08);
}

.popup__footer {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
  margin-top: 12px;
}
.popup__footer-tooltip .tooltiptext {
  top: -50px;
  right: 150%;
}

.create-note {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: rgb(32, 130, 50);
}

.tooltip {
  position: relative;
  display: inline-block;
  /* Tooltip text */
}
.tooltip .tooltiptext {
  position: absolute;
  font-weight: 400;
  background-color: rgba(204, 204, 204, 0.08);
  color: #fff;
  text-align: center;
  min-width: 130px;
  padding: 5px;
  border-radius: 5px;
  z-index: 1;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
}
.tooltip:hover .tooltiptext {
  opacity: 1;
  visibility: visible;
}