body, html {
  width: 100%;
  height: 100%;

  // Font
  font-family: 'K2D';
  font-size: nth($text-style, 1);
  font-weight: nth($text-style, 2);
  color: #fff;

  // Bacground
  background-color: $bg-color;
}

body.lock {
  overflow: hidden;
}

.page {
  display: grid;
  grid-template-rows: max-content 1fr; /* Перша рядка для хедера, друга для меню і контенту */
  grid-template-columns: max-content 1fr; /* Перша колонка для меню, друга для контенту */
  grid-template-areas: "header header" "sidebar content"; /* Хедер буде зверху на дві колонки */
  height: 100vh; /* Сторінка на всю висоту */
}

.container {
  width: fit-content;
  padding-inline: 15px;
  margin: auto;
}

button, .signup-form__account-signin, .login-form__account-signin {
  cursor: pointer;

  transition: all .3s;
  &:hover {
    opacity: .9;
  }
}