.content {
  padding: 50px;

  grid-area: content;
}

.notes {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 50px;
}

.note {
  width: 300px;
  height: 150px;
  padding: 15px;
  background-color: $card-color;
  border-radius: 10px;

  &-wrap {
    display: flex;
    flex-direction: column;
    text-align: start;
  }

  

  &__data {
    user-select: text;

    margin-top: auto;

    &-wrap {
      display: flex;
      flex-direction: row;
      align-items: end;
      gap: 5px;
    }
  }
}

.note__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: 100%;

  &-title {
    user-select: text;
    
    font-weight: 600;
    font-size: 16px;
  }

  &-tooltip .tooltiptext {
    width: 150px;

    top: 0%;
    right: 150%;
  }
}

.placeholder {
  font-weight: 400;
  font-size: 14px;
}

.user-data {
  font-weight: 300;
  font-size: 12px;
}

.create__new-note {
  display: flex;
  align-items: center;
  justify-content: center;

  transition: all .3s;
  &:hover {
    opacity: .9;
  }
}