.signup, .login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.signup-head {
  text-align: center;

  .logo {
    margin-bottom: 10px;
  }

  .signup__title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
  }
}

.signup-form {
  background-color: rgba(204, 204, 204, 0.08);
  border-radius: 10px;
  border: 1px solid $form-stroke;

  max-width: 320px;
  padding: 25px 25px 20px;
}

.signup-form {
  &__form > *:not(:last-child),
  & > *:not(:last-child) {
    margin-bottom: 20px; // Відступ вниз
  }

  label {
    font-size: 16px;
    font-weight: 600;
  }
  
  &__input {
    background-color: $bg-color;
    border-radius: 5px;
    border: 1px solid $form-stroke;

    font-size: 14px;
    font-weight: 300;

    width: 270px;
    height: 35px;
    padding: 10px;
    margin-top: 5px;
  }

  &__button, .login-form__button {
    background-color: $green;
    border-radius: 5px;
    border: 1px solid $form-stroke;

    padding-block: 7px;
    width: 100%;
  }
}

.or {
  position: relative;
  text-align: center;

  &::before {
    position: absolute;
    content: "";
    background-color: rgba(255, 255, 255, 0.25);
    width: 125px;
    height: 1px;
    top: 60%;
    left: -10px;
  }

  &::after {
    position: absolute;
    content: "";
    background-color: rgba(255, 255, 255, 0.25);
    width: 125px;
    height: 1px;
    top: 60%;
    right: -10px;
  }
}

.signup-form__account-signin, .login-form__account-signin {
  background-color: rgba(204, 204, 204, 0.08);
  border-radius: 5px;
  border: 1px solid $form-stroke;

  padding-block: 7px;
  width: 100%;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px; 
}