// colors
$bg-color: rgba(14, 18, 35, 1); // background color
$bg-white-color:  rgba(204, 204, 204, 0.08); // 
$form-stroke: rgba(204, 204, 204, .25); // stroke
$green: rgba(32, 130, 50, 1); // for btns and folders
$card-color: rgba(29, 37, 67, 1);

// text styles
$text-style: 14px 400;
$link-style: 14px 400;
$folder-name: 12px 500;